<div class="settings-language-block">
    <div class="settings-language-switcher-row">
        <h3 class="components-section-heading">{languageSwitcher}</h3>
        <label class="switch">
            <input id="pref-language-switcher-show" type="checkbox" />
            <span class="slider"></span>
        </label>
    </div>
    <div class="settings-language-tables">
        <section>
            <div
                class="settings-language-heading-row components-section-heading"
            >
                <h3>{availableLanguages}</h3>
            </div>
            <table id="available-languages" class="language-table"></table>
        </section>
        <section>
            <div
                class="settings-language-heading-row components-section-heading"
            >
                <h3>{preferredLanguages}</h3>
                <button
                    id="pref-language-sync-from-browser"
                    type="button"
                    class="btn-animated"
                >
                    {syncFromBrowser}
                </button>
            </div>
            <table id="preferred-languages" class="language-table"></table>
        </section>
    </div>
</div>
